*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user

*.pfx

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*_ReSharper.*/

*/*/*/Resource.Designer.cs

eve.mobile/eve.mobile.Core/Bin/*
eve.mobile/eve.mobile.Droid/Bin/*
eve.mobile/eve.mobile.Droid/Resources/Resource.Designer.cs
eve.mobile/eve.mobile.WP7/Bin/*
eve.mobile/eve.mobile.Core.WP7/Bin/Debug/*
